/*
Customize your blog as you want here!
*/

.md-header,
.md-nav--primary .md-nav__title[for="__drawer"] {
    background: var(--md-primary-fg-color) url(https://images.unsplash.com/photo-1660632031387-760ced651717?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80) left center/cover no-repeat;
}

.md-tabs {
    background-color: #00000094;
}

:root > * {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }

.md-footer-meta,
.md-footer-meta__inner {
    display: none;
}